.main {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding-bottom: 4rem;

  & > div {
    padding: 1rem;
  }
}

.header {
  border-bottom: var(--border);

  .back {
    color: var(--c-font-dark);

    cursor: pointer;
    font-size: 0.8rem;
    user-select: nono;
    font-weight: var(--fw-regular);
    display: inline-flex;
    align-items: center;
    margin-bottom: 0.5rem;

    span {
      margin-right: 0.5rem;
    }
  }

  .title {
    font-size: 1.5rem;
    font-weight: var(--fw-semi-bold);
  }
}

.showcase {
  .element {
    border: var(--border);
    padding: 1rem;
  }

  .switch {
    font-size: 0.7rem;
    color: var(--c-font-dark);
    text-align: right;
    user-select: none;

    div {
      background-color: var(--c-light);
      display: inline-flex;
      align-items: center;
      padding: 0.25rem 0.5rem;
      cursor: pointer;

      &:hover {
        background-color: var(--c-stroke);
      }
    }
  }
}

.info,
p {
  font-size: 0.8rem;
  margin-top: 2rem;
  margin-bottom: 2rem;

  code {
    font-family: var(--f-mono);
    background-color: var(--c-light);
    padding: 0 0.25rem;
  }

  a {
    color: var(--c-blue);
  }
}

p {
  padding: 1rem;
  margin: 0;
  color: var(--c-font);
}

.code {
  font-size: 0.8rem;

  *::selection {
    background-color: #fff8;
  }

  pre {
    margin: 0;
    padding: 1rem;
    overflow: auto;
    background-color: #080808;
    color: #d8d8d8;
  }
}

.props {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.table {
  width: 100%;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  table {
    font-size: 0.8rem;
  }

  td {
    padding: 0.5rem 1rem;
    border: var(--border);
  }

  thead {
    td {
      font-weight: var(--fw-semi-bold);
    }
  }

  tbody {
    .type {
      code {
        color: var(--c-orange);
      }
    }
    .usage {
      color: var(--c-font);
    }
  }

  .usage {
    width: 100%;
    min-width: 10rem;
  }

  .required {
    width: 1rem;
    text-align: center;
  }

  code {
    font-family: var(--f-mono);
    font-size: 0.7rem;
    font-weight: var(--fw-mono);
    font-family: var(--f-mono);
    background-color: var(--c-light);
    padding: 0 0.25rem;
    color: var(--c-font-dark);
    user-select: all;
  }
}
