.main {
  width: 100%;
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;

  h2 {
    font-weight: 400;
    margin-top: 3rem;
  }

  & > div {
    padding: 1rem;
  }

  .info {
    font-size: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 2rem;

    a {
      color: var(--c-blue);
    }
  }

  .issue {
    margin: 4rem 0;
    text-align: center;
    font-size: 0.8rem;
    color: var(--c-red);
    font-weight: var(--fw-bold);
  }
}

.header {
  border-bottom: var(--mp-border);
  margin-bottom: 2rem;

  .row {
    display: flex;
    align-items: center;
    gap: 1rem;

    .icon {
      display: flex;
      gap: 0.5rem;
      font-size: 0.9rem;
      color: var(--c-font);
      cursor: pointer;

      &:hover {
        color: var(--c-font-dark);
      }
    }
  }

  .title {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    color: var(--c-font-dark);
  }
}

.showcase {
  .showcaseTitle {
    margin-top: 4rem;
    margin-bottom: 1rem;
  }

  .element {
    border: var(--mp-border);
    padding: 1.5rem;
  }

  .switch {
    font-size: 0.7rem;
    color: var(--c-font-dark);
    text-align: right;
    user-select: none;

    div {
      background: var(--c-light);
      display: inline-flex;
      align-items: center;
      padding: 0.25rem 0.5rem;
      cursor: pointer;

      &:hover {
        background: var(--c-input-border);
      }
    }
  }

  pre {
    margin: 0;
  }
}

.props {
  font-size: 1.25rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.table {
  overflow: auto;

  tbody {
    .name {
      code {
        color: var(--c-font-dark);
      }
    }

    .type {
      code {
        color: var(--c-code);
        font-weight: var(--mp-fw-code);
      }
    }
    .usage {
      color: var(--c-font);
    }
  }

  .usage {
    width: 100%;
    min-width: 10rem;
  }

  .required {
    width: 1rem;
    text-align: center;
  }
}

.related {
  .title {
    font-size: 1.25rem;
    margin-top: 4rem;
  }

  ul {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: var(--c-indigo);
  }
}
