@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
body {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  --fw-bold: 600;
  color: var(--c-font);
  background-color: var(--c-bg);
}
