html {
  scroll-behavior: smooth;
}

body {
  --c-scrollbar-bg: #f8f8f8;
  --c-scrollbar-thumb: #d8d8d8;
  --c-scrollbar-thumb-hover: #b8b8b8;

  *::selection {
    background: #0002;
  }

  code {
    background-color: #f0f0f0;
  }
}
body[data-theme='dark'] {
  --c-scrollbar-bg: #181818;
  --c-scrollbar-thumb: #282828;
  --c-scrollbar-thumb-hover: #484848;

  *::selection {
    background: #fff2;
  }

  code {
    background-color: #282828;
  }
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}
::-webkit-scrollbar-track {
  background: var(--c-scrollbar-bg);
}
::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar-thumb);
  border-radius: var(--mp-border-radius);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-thumb-hover);
}

@media (max-width: 1080px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
