@import '../lib/fonts/roboto.scss';
@import '../lib/fonts/mono.scss';
@import '../lib/fonts/icons.scss';

// @import 'mumpui/lib/styles.css';
@import '../lib/styles/index.scss';
@import '../lib/styles/theme.scss';

html {
  scroll-behavior: smooth;
}

body[data-theme='light'] {
  *::selection {
    background: #0002;
  }
}
body[data-theme='dark'] {
  *::selection {
    background: #fff2;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
::-webkit-scrollbar-track {
  background: var(--c-light);
}
::-webkit-scrollbar-thumb {
  background: var(--mp-c-font-light);
  border-radius: var(--mp-border-radius);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--mp-c-font);
}
