@import '../lib/styles/fonts/roboto.scss';
@import '../lib/styles/fonts/icons.scss';

html {
  scroll-behavior: smooth;
}

body {
  --c-primary: #000000;
  --c-bg: #ffffff;
  --c-light: #f8f8f8;

  --c-stroke: #e8e8e8;

  --c-font-dark: #484848;
  --c-font: #888888;
  --c-font-light: #b8b8b8;

  --c-red: #e83e0a;
  --c-green: #55c610;
  --c-blue: #1ea6ff;
  --c-yellow: #ffd93b;
  --c-orange: #fa8c16;

  --border: 1px solid #e8e8e8;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
::-webkit-scrollbar-track {
  background: var(--c-light);
}
::-webkit-scrollbar-thumb {
  background: var(--c-font-light);
  border-radius: var(--mp-border-radius);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--c-font);
}
