@import '../lib/styles/fonts/roboto.scss';
@import '../lib/styles/fonts/mono.scss';
@import '../lib/styles/fonts/icons.scss';

@import '../lib/styles/index.scss';
@import '../lib/styles/theme.scss';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  --fw-bold: 600;
  --c-link: #1ea6ff;
}

html {
  scroll-behavior: smooth;
}

body[data-theme='light'] {
  *::selection {
    background: #0002;
  }
}
body[data-theme='dark'] {
  *::selection {
    background: #fff2;
  }
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}
::-webkit-scrollbar-track {
  background: var(--mp-c-input-border);
}
::-webkit-scrollbar-thumb {
  background: var(--mp-c-font-light);
  border-radius: var(--mp-border-radius);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--mp-c-font);
}
