.header {
  background: #000000;
  color: #ffffff;
  padding: 4rem 0;

  *::selection {
    background: #fff2 !important;
  }

  .content {
    width: 100%;
    max-width: 800px;
    margin: auto;
  }
}

.logoAndInfo {
  display: flex;
  align-items: center;

  & > div {
    padding: 2rem;
  }

  .left {
    animation: logo-breathe 2s ease infinite;
    transform-origin: center center;

    @keyframes logo-breathe {
      50% {
        transform: scale(1.05);
      }
    }

    img {
      cursor: pointer;
      width: 8rem;
      transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

      &:hover {
        transform: rotate(-30deg);
      }
    }
  }

  .right {
    .welcome {
      font-size: 0.8rem;
    }

    .name {
      font-size: 2rem;
      color: #ffffff;
    }

    .info {
      font-size: 0.8rem;
      color: #888888;
      margin-top: 0.5rem;
    }

    .inspired {
      color: var(--mp-c-font-light);
      font-size: 0.8rem;
      margin-top: 1rem;

      span {
        font-weight: var(--mp-fw-bold);
        color: #ffffff;
      }
    }
  }
}

.links {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  font-size: 0.8rem;
  color: #ffffff;

  div {
    &:hover {
      opacity: 0.9;
    }
  }
}

.container {
  min-height: 100vh;
  width: 100%;
  background: var(--mp-c-hover);
  padding: 1rem 0;

  .content {
    width: 100%;
    max-width: 800px;
    margin: auto;
  }
}

.search {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
  padding: 0 1rem;

  .foldUnfold {
    padding: 0.25rem;
    cursor: pointer;
    color: var(--mp-c-font);
    user-select: none;

    &:hover {
      color: var(--mp-c-font-dark);
    }
  }

  .searchInput {
    width: 60%;
    position: relative;
  }
  .searchShortcut {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    font-size: 0.8rem;
    color: var(--mp-c-font-light);
    background: var(--mp-c-hover);
    padding: 0 0.25rem;
    border-radius: 4px;
  }

  input {
    outline: none;
    border: var(--mp-border);
    width: 100%;
    color: var(--mp-c-font-dark);
    padding: 0.5rem 1.5rem;
    border-radius: 10rem;
    font-size: 0.8rem;
    background: var(--mp-c-bg);

    &::placeholder {
      color: var(--mp-c-font-light);
    }

    &:focus {
      border-color: var(--mp-c-font-light);
    }
  }
}

@media (max-width: 1080px) {
  .searchShortcut {
    display: none;
  }
}

.groups {
  .title {
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: var(--mp-border);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--mp-c-font-dark);

    .count {
      font-size: 0.8rem;
      color: var(--mp-c-font-light);
      margin-left: 0.5rem;
    }
  }

  .info {
    padding: 1rem;
    color: var(--mp-c-font);
    font-size: 0.8rem;
  }
}

.showcases {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.showcase {
  border: var(--mp-border);
  display: flex;
  flex-direction: column;
  border-color: var(--mp-c-input-border);
  opacity: 0;
  animation: showcase-appear 300ms ease forwards;
  background: var(--mp-c-bg);
  width: calc(50% - 1rem);
  border-radius: 8px;

  .nameLink:focus,
  &:hover {
    .name {
      color: var(--mp-c-font-dark);

      .icon {
        opacity: 1;
      }
    }
  }

  @keyframes showcase-appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .component {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;

    & > * {
      width: 100%;
    }
  }

  .name {
    text-align: center;
    font-size: 0.7rem;
    padding: 1rem;
    border-top: var(--mp-border);
    color: var(--mp-c-font);
    font-weight: var(--mp-fw-bold);
    cursor: pointer;
    width: 100%;

    .icon {
      margin-left: 0.5rem;
      opacity: 0;
      position: absolute;
    }
  }
}

@media (max-width: 1199px) {
  .logoAndInfo {
    flex-direction: column;
    align-items: flex-start;

    .left {
      padding-top: 0;
      padding-bottom: 0;

      img {
        width: 40%;
      }
    }
  }

  .search {
    input {
      width: 100%;
    }
  }

  .showcase {
    width: 100%;
  }
}
