.images {
  display: flex;
  gap: 1rem;

  .box {
    height: 5rem;
    width: 5rem;
    background-color: var(--mp-c-hover);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    border-radius: var(--mp-border-radius);
    cursor: pointer;
    user-select: none;
  }
}
