@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;700&display=swap');

.footer {
  border-top: var(--mp-border);
  text-align: center;
  padding: 1rem;
  background: var(--c-bg);
  font-size: 0.9rem;
  margin-top: 4rem;

  a {
    background: linear-gradient(148deg, #4568dc 0%, #b06ab3 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Pacifico, monospace;
    font-size: 1rem;
    padding-right: 0.5rem;
  }
}
