.palette {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.palette > div,
.color {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 200ms ease;
  display: inline-flex;
  flex-shrink: 0;
  box-shadow: 0 0 0.25rem var(--c-border);

  &:hover {
    transform: scale(1.1);
  }
}

.coloredLines {
  margin-top: 1.5rem;
  line-height: var(--mp-line-height);
  font-size: 0.8rem;
}

.coloredButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  font-size: 0.8rem;

  & > div {
    padding: 0.25rem 0.5rem;
    border-radius: var(--mp-border-radius);

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
  margin-top: 1.5rem;
  line-height: var(--mp-line-height);
  font-size: 0.8rem;
}

.complexity {
  text-align: center;
  margin: 4rem 0;
  background-color: var(--c-light);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    color: var(--c-font-dark);
    margin: 0 0.5rem;
    font-size: 1.5rem;
  }
}
