.main {
  .header {
    text-align: center;
    font-size: 1.5rem;
    background-color: var(--mp-c-primary);
    color: var(--mp-c-bg);
    padding: 4rem 2rem;

    img {
      max-width: 15rem;
      width: 100%;
    }

    .welcome {
      margin-top: 2rem;
      font-size: 0.8rem;
    }

    .name {
      font-size: 2rem;
      color: var(--mp-c-bg);
    }

    .info {
      font-size: 0.8rem;
      color: var(--mp-c-font);
      margin-top: 1rem;

      span {
        font-weight: var(--mp-fw-bold);
        color: var(--mp-c-bg);
      }
    }

    .install {
      font-size: 0.8rem;
      margin-top: 1rem;
      padding: 0.25rem 1rem;
      background-color: #282828;
      color: #e8e8e8;
      display: inline-block;
      font-family: monospace;
      border-radius: 0.25rem;
      user-select: all;
    }
  }

  .links {
    display: flex;
    justify-content: space-evenly;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    font-size: 0.8rem;

    a {
      color: var(--mp-c-bg);
    }

    div {
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
